.sermons-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  padding: 7rem 2.5rem;
  /* background-color: var(--primary-blue);
  width: 95%; */
  /* margin: 7rem auto 0; */
  /* color: white; */
  /* border-radius: 40px; */
  background-color: var(--background-light); /* replaces blue */
  color: var(--text-dark);
  /* border-radius: 30px; */
  width: 100%;
  margin: 7rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
}
.sermons-info {
  padding: 1rem 0 0 1.5rem;
}
.sermons-info .subtitle {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: var(--accent-blue);
  font-weight: 600;
}
.sermons-info h3 {
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-blue);
}
.sermon-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.sermon-video video {
  width: 100%;
  height: 42rem;
  border-radius: var(--border-radius);
  movie: SHOWGIRLS;
}
