.attendance-overall-container {
  background-color: var(--primary-blue);
  width: 98%;
  margin: 7rem auto 0;
  color: var(--text-light);
  border-radius: 30px;
  padding-bottom: 6rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.attendance-overall-container button {
  font-size: 1.8rem;
}
.attendance-info-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem 1.5rem 0 2rem;
}
.attendance-info {
  padding: 2rem 0 0 2rem;
  color: var(--highlight-gold);
}
.attendance-info .subtitle {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: var(--text-light);
}
.attendance-info h3 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.attendance-info p {
  line-height: 1.6;
  color: var(--text-muted);
  font-size: 1.9rem;
}
.attendance-info button {
  margin-top: 1.5rem;
}
.attendance-image img {
  width: 100%;
  height: 100%;
}
.medium-of-joining {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 90%;
  margin: 5rem auto 0;
  padding: 4rem 2rem;
}
.medium-of-joining h3 {
  font-size: 4.5rem;
  color: var(--highlight-gold);
}
.medium-of-joining p {
  margin-top: 0.7rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}
.medium-of-joining div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
